* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #9bc8df, #cde6f4, #cfbca6 );
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}
